project/multi-jobs/resource/wsdl/WorkbenchService.wsdl

<wsdl:definitions xmlns:ns1="http://cxf.apache.org/bindings/xformat"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://work.eac.cn/workbench"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="WorkbenchService" targetNamespace="http://work.eac.cn/workbench">
	<wsdl:types>
		<xs:schema xmlns:tns="http://work.eac.cn/workbench"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			targetNamespace="http://work.eac.cn/workbench" version="1.0">
			<xs:element name="GetFinishedTaskRequest">
				<xs:complexType>
					<xs:sequence>
						<!--EAC系统当前用户的id-->
						<xs:element name="userId" type="xs:string" />
						<!--EAC系统当前用户的身份证号码-->
						<xs:element name="idcardNo" type="xs:string" />
						<!--分页查询数据时本次请求的页数-->
						<xs:element minOccurs="0" name="pageNo" type="xs:int" />
						<!--分页查询数据时每页的记录数-->
						<xs:element minOccurs="0" name="pageSize" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetFinishedTaskResponse">
				<xs:complexType>
					<xs:sequence>
						<!--结果状态标识,0: 正常；1：找不到用户ID；2：用户无权限；3：系统异常 -->
						<xs:element name="result" type="xs:int" />
						<!--所有记录的总数-->
						<xs:element minOccurs="0" name="totalCount" type="xs:int" />
						<!--已办工作项-->
						<xs:element maxOccurs="unbounded" minOccurs="0" name="task"
							nillable="true" type="tns:FinishedTask" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetNewInformationRequest">
				<!-- 子元素含义同元素GetFinishedTaskRequest -->
				<xs:complexType>
					<xs:sequence>
						<xs:element name="userId" type="xs:string" />
						<xs:element name="idcardNo" type="xs:string" />
						<xs:element minOccurs="0" name="pageNo" type="xs:int" />
						<xs:element minOccurs="0" name="pageSize" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetNewInformationResponse">
				<xs:complexType>
					<xs:sequence>
						<!--结果状态标识,0: 正常；1：找不到用户ID；2：用户无权限；3：系统异常 -->
						<xs:element name="result" type="xs:int" />
						<!--所有记录的总数-->
						<xs:element minOccurs="0" name="totalCount" type="xs:int" />
						<!--待阅工作项-->
						<xs:element maxOccurs="unbounded" minOccurs="0" name="task"
							nillable="true" type="tns:NewInformation" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetPendingTaskRequest">
				<!-- 子元素含义同元素GetFinishedTaskRequest -->
				<xs:complexType>
					<xs:sequence>
						<xs:element name="userId" type="xs:string" />
						<xs:element name="idcardNo" type="xs:string" />
						<xs:element minOccurs="0" name="pageNo" type="xs:int" />
						<xs:element minOccurs="0" name="pageSize" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetPendingTaskResponse">
				<xs:complexType>
					<xs:sequence>
						<!--结果状态标识,0: 正常；1：找不到用户ID；2：用户无权限；3：系统异常 -->
						<xs:element name="result" type="xs:int" />
						<!--所有记录的总数-->
						<xs:element minOccurs="0" name="totalCount" type="xs:int" />
						<!--待办工作项-->
						<xs:element maxOccurs="unbounded" minOccurs="0" name="task"
							nillable="true" type="tns:PendingTask" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetReadedInformationRequest">
				<!-- 子元素含义同元素GetFinishedTaskRequest -->
				<xs:complexType>
					<xs:sequence>
						<xs:element name="userId" type="xs:string" />
						<xs:element name="idcardNo" type="xs:string" />
						<xs:element minOccurs="0" name="pageNo" type="xs:int" />
						<xs:element minOccurs="0" name="pageSize" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetReadedInformationResponse">
				<xs:complexType>
					<xs:sequence>
						<!--结果状态标识,0: 正常；1：找不到用户ID；2：用户无权限；3：系统异常 -->
						<xs:element name="result" type="xs:int" />
						<!--所有记录的总数-->
						<xs:element minOccurs="0" name="totalCount" type="xs:int" />
						<!--已阅工作项-->
						<xs:element maxOccurs="unbounded" minOccurs="0" name="task"
							nillable="true" type="tns:ReadedInformation" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="PendingTask">
				<!-- 待办工作项 -->
				<xs:sequence>
					<!--任务ID,要求集成系统保证唯一性-->
					<xs:element minOccurs="0" name="taskId" type="xs:string" />
					<!--任务发起人的姓名-->
					<xs:element minOccurs="0" name="creatorName" type="xs:string" />
					<!--回调业务系统url，点击链接到应用系统的url地址-->
					<xs:element name="url" type="xs:string" />
					<!--任务创建时间，格式为yyyy-MM-dd hh:mm:ss-->
					<xs:element minOccurs="0" name="createTime" type="xs:string" />
					<!--任务过期时间，格式为yyyy-MM-dd hh:mm:ss-->
					<xs:element minOccurs="0" name="expireTime" type="xs:string" />
					<!--任务名称-->
					<xs:element name="taskName" type="xs:string" />
					<!--可选，任务类型，如“发文流程”、“期刊发布”等-->
					<xs:element minOccurs="0" name="typeName" type="xs:string" />
					<!--可选，优先级，值为“紧急”或“普通”-->
					<xs:element minOccurs="0" name="priority" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="NewInformation">
				<xs:sequence>
					<!--任务ID,要求集成系统保证唯一性-->
					<xs:element minOccurs="0" name="informationId" type="xs:string" />
					<!--信息发布者的姓名-->
					<xs:element minOccurs="0" name="creatorName" type="xs:string" />
					<!--回调业务系统url，点击链接到应用系统的url地址-->
					<xs:element name="url" type="xs:string" />
					<!--信息发布时间，格式为yyyy-MM-dd hh:mm:ss-->
					<xs:element minOccurs="0" name="publishTime" type="xs:string" />
					<!--信息过期时间，格式为yyyy-MM-dd hh:mm:ss-->
					<xs:element minOccurs="0" name="expireTime" type="xs:string" />
					<!--信息名称-->
					<xs:element name="informationName" type="xs:string" />
					<!--可选，信息类型，如“发文流程”、“期刊发布”等-->
					<xs:element minOccurs="0" name="typeName" type="xs:string" />
					<!--可选，优先级，值为“紧急”或“普通”-->
					<xs:element minOccurs="0" name="priority" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FinishedTask">
				<!-- 已办工作项 -->
				<xs:sequence>
					<!--任务ID,要求集成系统保证唯一性-->
					<xs:element minOccurs="0" name="taskId" type="xs:string" />
					<!--任务发起人的姓名-->
					<xs:element minOccurs="0" name="creatorName" type="xs:string" />
					<!--回调业务系统url，点击链接到应用系统的url地址-->
					<xs:element name="url" type="xs:string" />
					<!--任务创建时间，格式为yyyy-MM-dd hh:mm:ss-->
					<xs:element minOccurs="0" name="createTime" type="xs:string" />
					<!--任务过期时间，格式为yyyy-MM-dd hh:mm:ss-->
					<xs:element minOccurs="0" name="expireTime" type="xs:string" />
					<!--任务完成时间，格式为yyyy-MM-dd hh:mm:ss-->
					<xs:element minOccurs="0" name="completeTime" type="xs:string" />
					<!--任务名称-->
					<xs:element name="taskName" type="xs:string" />
					<!--可选，任务类型，如“发文流程”、“期刊发布”等-->
					<xs:element minOccurs="0" name="typeName" type="xs:string" />
					<!--可选，优先级，值为“紧急”或“普通”-->
					<xs:element minOccurs="0" name="priority" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ReadedInformation">
				<xs:sequence>
					<!--信息ID,要求集成系统保证唯一性-->
					<xs:element minOccurs="0" name="informationId" type="xs:string" />
					<!--信息发布者的姓名-->
					<xs:element minOccurs="0" name="creatorName" type="xs:string" />
					<!--回调业务系统url，点击链接到应用系统的url地址-->
					<xs:element name="url" type="xs:string" />
					<!--信息发布时间，格式为yyyy-MM-dd hh:mm:ss-->
					<xs:element minOccurs="0" name="publishTime" type="xs:string" />
					<!--信息阅读时间，格式为yyyy-MM-dd hh:mm:ss-->
					<xs:element minOccurs="0" name="readTime" type="xs:string" />
					<!--信息名称-->
					<xs:element name="informationName" type="xs:string" />
					<!--可选，信息类型，如“发文流程”、“期刊发布”等-->
					<xs:element minOccurs="0" name="typeName" type="xs:string" />
					<!--可选，优先级，值为“紧急”或“普通”-->
					<xs:element minOccurs="0" name="priority" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetPendingTask">
		<wsdl:part element="tns:GetPendingTaskRequest" name="parameter"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetFinishedTaskResponse">
		<wsdl:part element="tns:GetFinishedTaskResponse" name="parameter"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetPendingTaskResponse">
		<wsdl:part element="tns:GetPendingTaskResponse" name="parameter"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetFinishedTask">
		<wsdl:part element="tns:GetFinishedTaskRequest" name="parameter"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetReadedInformation">
		<wsdl:part element="tns:GetReadedInformationRequest" name="parameter"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetReadedInformationResponse">
		<wsdl:part element="tns:GetReadedInformationResponse" name="parameter"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetNewInformationResponse">
		<wsdl:part element="tns:GetNewInformationResponse" name="parameter"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetNewInformation">
		<wsdl:part element="tns:GetNewInformationRequest" name="parameter"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="WorkbenchServicePortType">
		<wsdl:operation name="GetPendingTask">
			<wsdl:input message="tns:GetPendingTask" name="GetPendingTask"></wsdl:input>
			<wsdl:output message="tns:GetPendingTaskResponse" name="GetPendingTaskResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetNewInformation">
			<wsdl:input message="tns:GetNewInformation" name="GetNewInformation"></wsdl:input>
			<wsdl:output message="tns:GetNewInformationResponse"
				name="GetNewInformationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFinishedTask">
			<wsdl:input message="tns:GetFinishedTask" name="GetFinishedTask"></wsdl:input>
			<wsdl:output message="tns:GetFinishedTaskResponse" name="GetFinishedTaskResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetReadedInformation">
			<wsdl:input message="tns:GetReadedInformation" name="GetReadedInformation"></wsdl:input>
			<wsdl:output message="tns:GetReadedInformationResponse"
				name="GetReadedInformationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WorkbenchServiceSoapBinding" type="tns:WorkbenchServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetPendingTask">
			<soap:operation soapAction="GetPendingTask" style="document" />
			<wsdl:input name="GetPendingTask">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetPendingTaskResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetFinishedTask">
			<soap:operation soapAction="GetFinishedTask" style="document" />
			<wsdl:input name="GetFinishedTask">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetFinishedTaskResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetNewInformation">
			<soap:operation soapAction="GetNewInformation" style="document" />
			<wsdl:input name="GetNewInformation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetNewInformationResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetReadedInformation">
			<soap:operation soapAction="GetReadedInformation"
				style="document" />
			<wsdl:input name="GetReadedInformation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetReadedInformationResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WorkbenchService">
		<wsdl:port binding="tns:WorkbenchServiceSoapBinding" name="WorkbenchServicePort">
			<soap:address location="服务地址" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>